<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="FeedBack" translate="label" sortOrder="200">
            <label>KTPL</label>
        </tab>
        <section id="FeedBack" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FeedBack</label>
            <tab>FeedBack</tab>
            <resource>TrainingKeval_FeedBack::parent</resource>
            <group id="FeedBackgroup" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[FeedBack Settings]]></label>
                <field id="show_feedback_module" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show FeedBack Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="submit_feedback" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="show_feedback_module">1</field>
                        <field id="functionality_enabled">1</field>
                    </depends>
                    <label>Allow Guests To Submit FeedBack</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
